<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="python" arguments="main.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\python.log">
            <environmentVariables>
                <environmentVariable name="PYTHONUNBUFFERED" value="1" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
